<Files .htaccess>
order allow,deny
</Files>

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php 

Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(\w+)$ ./src-php/show_url.php?short_code=$1
